{% extends "SociedadSociedadesBundle::layout.html.twig" %}
{% block content %}
  <div class="span6">
    <span class="altaregistro">{{ 'alta.contacto'|trans }}</span>
    <span class="edicionregistro">{{ 'edicion.contacto'|trans }}</span>
    <h3 class='titulo'>{{ 'contactos'|trans }}</h3>
    <form action="{{ path('contactos_activa') }}" method="get" id="f_Invita">
        {% if app.session.get('reservaid') %}
            Dia {{ app.session.get('hoy')|date("d/m/Y")  }} Hora {{ app.session.get('turno') }}
            <input type="submit" value="{{'invitar'|trans}}" class="btn" style="float: right"/>
            <div style="clear:both"></div>
            <br/>
        {% endif %}

        <table id="tablaprincipal" class="tablagrid contactos table table-striped">
            <thead>
                <tr>
                    {{ linkInterno("",{ "id" : "colNombre","class":"span1","texto":"editar"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colNombre","class":"span5","texto":"nombre"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colEmail","class":"span5","texto":"Email"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colEmail","class":"span5","texto":"fijo"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colEmail","class":"span5","texto":"movil"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colSel","class":"span1","type":"checkbox","ida":"seleccionartodos","valuea":"true","classa":"checkbox"},'','',"th")|raw }}
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {{ linkInterno("contactos_edit",{"entity_id" : "entity.id","name":"Nombre","classa":"editSociedad" })|raw }}
                    {{ linkInterno("",{"name":"nombre","class":"posicionr","texto":'entity.nombre'})|raw }} 
                    {{ linkInterno("",{"name":"email","class":"posicionr","texto":'entity.email'})|raw }} 
                    {{ linkInterno("",{"name":"fijo","class":"posicionr","texto":'entity.fijo'})|raw }} 
                    {{ linkInterno("",{"name":"movil","class":"posicionr","texto":'entity.movil'})|raw }} 
                    {% set cadena="invitados["~entity.id ~"]" %}
                    {% if myevaluateString(cadena) %}
                        {{ linkInterno("",{"align":"center","headers":"colSel","class":"porcentaje3","name":{"chequear_":"entity.id"},"valuea":"entity.id","type":"checkbox", "checked":"1" },'','')|raw }}
                    {% else %}
                        {{ linkInterno("",{"align":"center","headers":"colSel","class":"porcentaje3","name":{"chequear_":"entity.id"},"valuea":"entity.id","type":"checkbox" },'','')|raw }}
                    {% endif %}    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    <table class="table">
        <tbody>
             <tr>
                  {{ linkInterno("contactos_new",{ "texto": "_contacto" ,"classa" : "'btn btn-large altaSociedad'"  })|raw }}
                  {{ linkInterno("sociedades_show",{"entity_id":"sociedades.id","texto": "sociedad" ,"classa" : "'btn btn-large'"  })|raw }}
                  {{ linkInterno("inoutcontactos",{"texto": "contactos_google" ,"classa" : "'btn btn-large'"  })|raw }}
             </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
