{% extends "SociedadSociedadesBundle::layout.html.twig" %}
{% block content %}
  <div class="span5">
    <h3>Contactos</h3>
    <form action="{{ path('contactos_activa') }}" method="get" id="f_Invita">
        <input type="submit" value="{{'Invitar'|trans}}" class="btn" style="float: right"/>
        <div style="clear:both"></div>
        <br/>

        <table id="tablaprincipal" class="tablagrid contactos table table-striped">
            <thead>
                <tr>
                    {{ linkInterno("",{ "id" : "colNombre","class":"span5","texto":"Nombre"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colEmail","class":"span5","texto":"Email"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colEmail","class":"span5","texto":"Fijo"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colEmail","class":"span5","texto":"Móvil"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colSel","class":"span1","type":"checkbox","ida":"seleccionartodos","valuea":"true","classa":"checkbox"},'','',"th")|raw }}
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {{ linkInterno("sociedad_edit",{"entity_id" : "entity.id","name":"Nombre","classa":"editSociedad" })|raw }}
                    {{ linkInterno("",{"name":"nombre","class":"posicionr","texto":'entity.nombre'})|raw }} 
                    {{ linkInterno("",{"name":"email","class":"posicionr","texto":'entity.email'})|raw }} 
                    {{ linkInterno("",{"name":"fijo","class":"posicionr","texto":'entity.fijo'})|raw }} 
                    {{ linkInterno("",{"name":"movil","class":"posicionr","texto":'entity.movil'})|raw }} 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    <table class="table">
        <tbody>
             <tr>
                  {{ linkInterno("contactos_new",{ "texto": "+ Contacto" ,"classa" : "'btn btn-large'"  })|raw }}
                  {{ linkInterno("sociedades_show",{"entity_id":"sociedades.id","texto": "Sociedad" ,"classa" : "'btn btn-large'"  })|raw }}
             </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
