{% extends "SociedadSociedadesBundle::layout.html.twig" %}
{% block content %}
  <div class="span6">
    <h3>Contactos</h3>
    <form action="{{ path('contactos_activa') }}" method="get" id="f_Invita">
        {% if app.session.get('reservaid') %}
            Dia {{ app.session.get('hoy') }} Hora {{ app.session.get('turno') }}
            <input type="submit" value="{{'Invitar'|trans}}" class="btn" style="float: right"/>
            <div style="clear:both"></div>
            <br/>
        {% endif %}

        <table id="tablaprincipal" class="tablagrid contactos table table-striped">
            <thead>
                <tr>
                    {{ linkInterno("",{ "id" : "colNombre","class":"span1","texto":"Editar"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colNombre","class":"span5","texto":"Nombre"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colEmail","class":"span5","texto":"Email"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colEmail","class":"span5","texto":"Fijo"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colEmail","class":"span5","texto":"Móvil"},'','',"th")|raw }}
                    {{ linkInterno("",{ "id" : "colSel","class":"span1","type":"checkbox","ida":"seleccionartodos","valuea":"true","classa":"checkbox"},'','',"th")|raw }}
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {{ linkInterno("contactos_edit",{"entity_id" : "entity.id","name":"Nombre","classa":"editSociedad" })|raw }}
                    {{ linkInterno("",{"name":"nombre","class":"posicionr","texto":'entity.nombre'})|raw }} 
                    {{ linkInterno("",{"name":"email","class":"posicionr","texto":'entity.email'})|raw }} 
                    {{ linkInterno("",{"name":"fijo","class":"posicionr","texto":'entity.fijo'})|raw }} 
                    {{ linkInterno("",{"name":"movil","class":"posicionr","texto":'entity.movil'})|raw }} 
                    {% set cadena="invitados["~entity.id ~"]" %}
                    {% if myevaluateString(cadena) %}
                        {{ linkInterno("",{"align":"center","headers":"colSel","class":"porcentaje3","name":{"chequear_":"entity.id"},"valuea":"entity.id","type":"checkbox", "checked":"1" },'','')|raw }}
                    {% else %}
                        {{ linkInterno("",{"align":"center","headers":"colSel","class":"porcentaje3","name":{"chequear_":"entity.id"},"valuea":"entity.id","type":"checkbox" },'','')|raw }}
                    {% endif %}    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    <table class="table">
        <tbody>
             <tr>
                  {{ linkInterno("contactos_new",{ "texto": "+ Contacto" ,"classa" : "'btn btn-large'"  })|raw }}
                  {{ linkInterno("sociedades_show",{"entity_id":"sociedades.id","texto": "Sociedad" ,"classa" : "'btn btn-large'"  })|raw }}
                  {{ linkInterno("getcontactos",{"texto": "Contactos Google" ,"classa" : "'btn btn-large'"  })|raw }}
             </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
