{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% block title %}Sociedades{% endblock title %}    

{% block head_style %}
    <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/bootstrap/css/bootstrap-image-gallery.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/bootstrap/css/start/jquery-ui-1.9.2.custom.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/sociedad/css/sociedad.css') }}" type="text/css" rel="stylesheet" />
{% endblock head_style %}
{% block foot_script %}
        <script src="{{ asset('bundles/bootstrap/js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/bootstrap/js/jquery-ui-1.9.2.custom.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/bootstrap/js/bootstrap-dropdown.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/bootstrap/js/bootstrap-button.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/bootstrap/js/bootstrap-image-gallery.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
        <script src="{{ asset('js/comunes2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/myfacebook.js') }}" type="text/javascript"></script>

{% endblock foot_script %}

{% block navbar %}
    <div class='navbar navbar-fixed-top'>
        <div class='navbar-inner'>
            <div class='container'>
                <div class='nav-collapse'>
                    {% block menusuperior %}
                    {% endblock menusuperior %}
                </div>

                <div >
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>

                {% for key, message in app.session.getFlashes() %}
                <div class="{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
                {% endfor %}
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>

            </div>
        </div>
    </div>
{% endblock navbar %}
    


    {% block headline %}
    {% endblock headline %}

    {% block footer %}
    {% endblock footer %}
