{% extends "SociedadSociedadesBundle::layout.html.twig" %}
{% block content %}
  <div class="span3">
     <table class="table">
        <tbody>
            <tr>
                <th>{{ 'nombre'|trans }}</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>{{ 'direccion'|trans }}</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>{{ 'telefono'|trans }}</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>{{ 'poblacion'|trans }}</th>
                <td>{{ entity.poblacion }}</td>
            </tr>
            <tr>
                <img alt="Anagrama" src="{{ asset(entity.foto) }}">                
            </tr>
            <tr>
                <th>{{ 'fecha_Creacion'|trans }}</th>
                <td>{{ entity.fechacreacion|date('d-m-Y') }}</td>
            </tr>
        </tbody>
    </table>

  </div>
  <div class="span2">
    <ul class="record_actions">
        <li>
            {{ linkInterno("portada",{ "texto": "portada" ,"classa" : "'btn btn-large btn-block'"  })|raw }}
        </li>
        <br/>
        <li>
            {{ linkInterno("socios",{ "texto": "socios" ,"classa" : "'btn btn-large btn-block'"  })|raw }}
        </li>
        <br/>
        <li>
            {{ linkInterno("contactos",{ "texto": "contactos" ,"classa" : "'btn btn-large btn-block'"  })|raw }}
        </li>
        <br/>
        <li>
            {{ linkInterno("plantas",{"texto": "plantas" ,"classa" : "'btn btn-large btn-block'"  })|raw }}
        </li>
        <br/>
        <li>
            {{ linkInterno("mesasplanta",{"plantaid":"query_plantaid", "texto": "mesas" ,"classa" : "'btn btn-large btn-block'"  })|raw }}
        </li>
        <br/>
        <li>
            {{ linkInterno("reservasplanta",{"plantaid":"query_plantaid","texto": "reservas" ,"classa" : "'btn btn-large btn-block'"  })|raw }}
        </li>
    </ul>
  </div>

{% endblock content %}