{% extends "SociedadSociedadesBundle::layout.html.twig" %}
{% block content %}
  <div class="span6">
        <h2>{{ sociedades.nombre }} </h2>  
        <form action="{{ path('reservas_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
          {{ form_errors(edit_form) }}
          <div class="row-fluid" >
          <div class="span5" style="float: left;">
            <h4> {{ 'Edición de Reservas'|trans }} </h4>
           <table class="sin_relleno">
            <tr>
              <td><strong>{{ form_label(edit_form.fechadesde) }}</strong></td>
              <td>{{ form_widget(edit_form.fechadesde) }}{{ form_errors(edit_form.fechadesde) }}</td>
            </tr>
            <tr>
              <td><strong>{{ form_label(edit_form.comida) }}</strong></td>
              <td>{{ form_widget(edit_form.comida) }}{{ form_errors(edit_form.comida) }}</td>
            </tr>
            <tr>
              <td><strong>{{ form_label(edit_form.comensales) }}</strong></td>
              <td>{{ form_widget(edit_form.comensales) }}{{ form_errors(edit_form.comensales) }}</td>
            </tr>
            <tr>
              <td><strong>{{ form_label(edit_form.socio) }}</strong></td>
              <td>{{ form_widget(edit_form.socio) }}{{ form_errors(edit_form.socio) }}</td>
            </tr>
           </table>
           {{ form_rest(edit_form) }}
            </div>
           {% include "SociedadReservasBundle:Reservas:invitados.html.twig" %}   
          </div>
          <br/>
          <div class="span12" style="clear:both">
            <table class="record_actions">
                <tr>
                    <button class="btn botonesseparados" type="submit">{{ 'Grabar'|trans }}</button>
                </tr>
                <tr>
                    <a class="btn botonesseparados" href="{{ path('reservasplanta', {'plantaid': app.session.get('plantaid') }) }}">
                        {{ 'Reservas'|trans }}
                    </a>
                </tr>
                <tr>
                    <a onclick='preguntarSiNo("form_delete","{{ 'Va a eliminar la Reserva. ¿Desea continuar?'|trans }}","{{ path('reservas_delete', { 'id': entity.id }) }}")' href="javascript:void(0);" class="btn botonesseparados">{{'Borrar'|trans}}</a>
                </tr>
                <tr>
                    <a class="btn botonesseparados" href="{{ path('externo') }}">
                        {{ 'Subir Google'|trans }}
                    </a>
                </tr>
                <tr>
                    <a class="btn botonesseparados" href="{{ path('interno') }}">
                        {{ 'Bajar Google'|trans }}
                    </a>
                </tr>
                <tr>
                    <button class="btn botonesseparados" id='authorize-button' onclick = 'handleAuthClick()' style='visibility: block'>Calendario</button>
                </tr>
            </table>
          </div>
        </form>
    <iframe id="calendarioframe" src="https://www.google.com/calendar/embed?src={{ sociedades.email }}&ctz=Europe/Madrid" 
            style="border: 0" width="500" height="300" frameborder="0" scrolling="no"></iframe>    
        <a href="https://accounts.google.com/ServiceLogin?hl=es&continue=https://www.google.es/" target="_blank" style='visibility: hidden'>Login</a>
                    <a class="btn" href="{{ path('milogin') }}" style='visibility: hidden'>
                        {{ 'Login'|trans }}
                    </a>
        <iframe id="logoutframe" src="" style="display: none"></iframe>
  </div>
  {% include "SociedadReservasBundle:Reservas:plantas.html.twig" %}    
  <div id="dialog-Borrar-reserva" title="¿Eliminar la Reserva?">
        <p><span  style="float: left; margin: 0 7px 20px 0;"></span></p>
  </div>
  
{% endblock content %}
{% block footer %}

            
            <script type='text/javascript'>
            var clientId = '697885352902-99bm1dqg2s2u9bkka7qi46d1vspjnlc2.apps.googleusercontent.com';
            var apiKey = 'AIzaSyCrywKx3941y3S89dmRJhpXAhYy7IhCjPc';

            var scopes = 'https://www.googleapis.com/auth/plus.me';

            function handleClientLoad() {
                gapi.client.setApiKey(apiKey);
                window.setTimeout(checkAuth,1);
            }

            function checkAuth() {
                gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true}, handleAuthResult);
            }


            function handleAuthResult(authResult) {
                var authorizeButton = document.getElementById('authorize-button');
                var logoutbutton = document.getElementById('logoutframe');
                if (authResult && !authResult.error) {
                    authorizeButton.style.visibility = 'hidden';
                    makeApiCall();
                } else {
                    authorizeButton.style.visibility = '';
                    authorizeButton.onclick = handleAuthClick;
                    logoutbutton.src="";
                }
            }

            function handleAuthClick(event) {
                var logoutbutton = document.getElementById('logoutframe');
                logoutbutton.src="https://accounts.google.com/logout";
                gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
                return false;
            }

            function makeApiCall() {
                gapi.client.load('plus', 'v1', function() {
                var request = gapi.client.plus.people.get({
                    'userId': 'me'
                });
                request.execute(function(resp) {
                    if(resp.message=="Not Found"){
                        var authorizeButton = document.getElementById('authorize-button');
                        var logoutbutton = document.getElementById('logoutframe');
                        authorizeButton.style.visibility = '';
                        authorizeButton.onclick = handleAuthClick;
                        logoutbutton.src="https://accounts.google.com/logout";
                        return false;
                    }
                    var heading = document.createElement('h4');
                    var image = document.createElement('img');
                    image.src = resp.image.url;
                    heading.appendChild(image);
                    heading.appendChild(document.createTextNode(resp.displayName));

                    document.getElementById('content').appendChild(heading);
                    var logoutbutton = document.getElementById('logoutframe');
                    if(logoutbutton.src=="https://accounts.google.com/logout"){
                        document.location.reload(true);
                    }
                });
                });
            }
            </script>
            <script src='https://apis.google.com/js/client.js?onload=handleClientLoad'></script>
            <div id='content'></div>
    {% endblock footer %}
