{% extends "SociedadSociedadesBundle::layout.html.twig" %}
{% block content %}
  <div class="span3">
  </div>
  <div class="span9">
    <h2>{{ sociedades.nombre }} </h2>    
    <form action="{{ path('mesas_create') }}" method="post" {{ form_enctype(form) }}>
      {{ form_errors(form) }}
      <h2> {{ 'Alta de Mesas'|trans }} </h2>
      <table class="sin_relleno">
        <tr>
          <td><strong>{{ form_label(form.nombre) }}</strong></td>
          <td>{{ form_widget(form.nombre) }}{{ form_errors(form.nombre) }}</td>
        </tr>
        <tr>
          <td><strong>{{ form_label(form.planta) }}</strong></td>
          <td>{{ form_widget(form.planta) }}{{ form_errors(form.planta) }}</td>
        </tr>
        <tr>
          <td><strong>{{ form_label(form.sala) }}</strong></td>
          <td>{{ form_widget(form.sala) }}{{ form_errors(form.sala) }}</td>
        </tr>
        <tr>
          <td><strong>{{ form_label(form.comensales) }}</strong></td>
          <td>{{ form_widget(form.comensales) }}{{ form_errors(form.comensales) }}</td>
        </tr>
        <tr>
          <td><strong>{{ form_label(form.foto) }}</strong></td>
          <td>{{ form_widget(form.foto) }}{{ form_errors(form.foto) }}</td>
        </tr>
      </table>
        {{ form_rest(form) }}
        <br/>
        <p>
            {{ linkInterno("mesas",{"texto": "mesas" ,"classa" : "'btn'"  })|raw }}
            <button type="submit">{{ 'Grabar'|trans }}</button>
        </p>
    </form>

  </div>
{% endblock content %}